<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- <p class="btn btn-info"  (click)="windowreload()">Refresh</p> -->
          <!-- <p class="btn btn-info" style="float: right;" [routerLink]="['/admin/create-user']">+ Add Admin</p> -->
         
          <h4 class="card-title">Admin Users</h4>
      
    
          <div class="row mb-md-2">
            <div class=" col-md-6">

              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
               
                  <select  id="exampleFormControlSelect1" [(ngModel)]="selectedValue" aria-controls="tickets-table" 
                  class="form-control form-control-sm mx-2">
                    <option *ngFor="let quantity of data" [ngValue]="quantity">{{quantity}}</option>
                  </select> entries</label></div>
     
            </div>
            <!-- Search -->
            
            <div class="col-md-6">
              <p class="btn btn-dark" style="float: right;" (click)="adminmodal(AddAdmin)">+ Add Admin</p> 
              <br>
          
            </div>
            <div class="col-sm-12 col-md-12">
 
      
              <div id="tickets-table_filter" class="dataTables_filter text-md-end" style="float: right;"><label
                  class="d-inline-flex align-items-center"> Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="term"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
        <!-- Table -->
        <div class="table-responsive">
          <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 datatables">
            <thead>
              <tr>
                <th sortable="i" (click)="Sort('i')">#</th>
                <th sortable="title" (click)="Sort('title')">Name</th>
                <th sortable="description" (click)="Sort('description')">Email</th>
                <th  sortable="price" (click)="Sort('price')" >Can Edit</th>
                <th sortable="productCode" (click)="Sort('productCode')">Can Delete</th>
               
                <!-- <th *ngIf="loggedinuser.CanDelete||loggedinuser.CanEdit">Action</th> -->
                <!-- <th sortable="age" (sort)="onSort($event)">Age</th> -->
              
              </tr>
            </thead>
            <tbody *ngFor="let item of AdminData|filter:term|orderBy:key :reverse |paginate:{itemsPerPage:selectedValue,currentPage:p}; let i=index;" >
              <tr >
                    <td>{{i+1}}</td>
                <td>
                  {{item.Name}}
              
                </td>
              
                <td>
                  {{item.Email}}
              
                </td>
                <td>
                  {{item.CanEdit}}
                </td>
                <td>
                  {{item.CanDelete}}
                </td>
              
                
        
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-5">
            
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <div class="text-md-end float-md-end pagination-rounded">
           
 <pagination-controls (pageChange)="p=$event" aria-label="Default pagination"></pagination-controls> 
 </div>
          </div>
          <!-- End Pagination -->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #AddAdmin let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit product</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>
  <div class="modal-body">
    
                                  

    <app-CreateUser></app-CreateUser>
     
    
     
     </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    
  </div>
</ng-template>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>