<div class="home-btn d-none d-sm-block">
  <a href="/" class="text-dark"><i class="mdi mdi-home-variant h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="text-center">
              <a href="/" class="mb-5 d-block auth-logo">
                  <img src="assets/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                  <img src="assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
              </a>
          </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card">
             
              <div class="card-body p-4"> 

                  <div class="text-center mt-2">
                      <h5 class="text-primary">Register Account</h5>
                      <p class="text-muted">Get your free Minible account now.</p>
                  </div>
                  <div class="p-2 mt-4">
                    <form name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>

                      <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                      </ngb-alert>
                      
                      <div class="mb-3">
                          <label for="username">Email</label>
                          <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                          </div>     
                      </div>

                      <div class="mb-3">
                          <label for="username">Username</label>
                          <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username" placeholder="Enter username" />

                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Userame is required</div>
                          </div> 
                      </div>

                      <div class="mb-3">
                          <label for="userpassword">Password</label>
                          <!-- <input type="password" class="form-control" id="userpassword" placeholder="Enter password">         -->
                          <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                          </div>
                      </div>

                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="auth-terms-condition-check">
                          <label class="form-check-label" for="auth-terms-condition-check">I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                      </div>
                      
                      <div class="mt-3 text-end">
                          <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Register</button>
                      </div>

                      <div class="mt-4 text-center">
                          <div class="signin-other-title">
                              <h5 class="font-size-14 mb-3 title">Sign up using</h5>
                          </div>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <a href="javascript:void()" class="social-list-item bg-primary text-white border-primary">
                                      <i class="mdi mdi-facebook"></i>
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="javascript:void()" class="social-list-item bg-info text-white border-info">
                                      <i class="mdi mdi-twitter"></i>
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="javascript:void()" class="social-list-item bg-danger text-white border-danger">
                                      <i class="mdi mdi-google"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>

                      <div class="mt-4 text-center">
                          <p class="text-muted mb-0">Already have an account ? <a href="/account/login" class="fw-medium text-primary"> Login</a></p>
                      </div>
                    </form>
                  </div>

              </div>
          </div>
          <div class="mt-5 text-center">
              <p>© {{year}} Minible. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
          </div>

      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
