.ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #000000 !important;
    color: #fefefe;
    cursor: default;
}
  
  .ngx-pagination .current:hover {
    background: #02090a !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }